body{
  margin:0;
  font-family:sans-serif;
  height: 100%;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;

  background: rgba(0, 0, 0, 0.02); /* transparente */
  backdrop-filter: blur(3px); /* glass effect */

  z-index: 1000;
}

/* botões */
.navbar button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;

  font-size: 20px;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  position: relative;

  transition: all 0.3s ease;
}

/* linha animada */
.navbar button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0%;
  height: 2px;
  background: white;

  transition: width 0.3s ease;
}

/* hover */
.navbar button:hover {
  transform: translateY(-4px);
  letter-spacing: 0.3em;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  scale: 1.3;
}

/* ativa a linha */
.navbar button:hover::after {
  width: 100%;
}



/* sections */

.section{

  height:100vh;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:40px;
  font-weight:bold;
}


.hero{background:#111;color:white}
.text{background:#1e293b;color:white}
.rotate{background:#475569;color:white}
.mask{background:#64748b;color:white}

@media (max-width: 600px) {
  .navbar {
    height: 60px;
    gap: 16px;
  }

  .navbar button {
    font-size: 13px;
    letter-spacing: 0.15em;
  }
}